{
    "printWidth": 150,
    "arrowParens": "always",
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "endOfLine": "auto"
}
